@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

#gradient-text {
    background: linear-gradient(135deg, #4285F4, #C4698F, #EA4335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#result-container::-webkit-scrollbar {
    display: none;
}

#recent-searches::-webkit-scrollbar {
    display: none;
}